@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700');
body {
    font-family: 'Quicksand', sans-serif;
  font-size:16px;
  display: flex;
  flex-direction: column;
  background: #00b09b;
  background: -webkit-linear-gradient(to right, #e68a08, #925df6);
  background: linear-gradient(to right, #e68a08, #925df6);
}
#logo_orinoco {
    width: 150px;
    margin: auto;
}
a {
  color: #060606;
}
a:hover {
  text-decoration: none;
  color:  #e68a08;
}

.nav-link:hover {
  color:  #e68a08!important;
}
nav a {
    font-size: 20px;
}
h1 {
    font-size: 2em;
    color: #fff;
    margin-top: 50px;
}
.main {
    padding-bottom: 120px;
}
/* Product List */
  #product_list img {
      width: 300px;
      height: 200px;
      border-radius: 5%;
  }
  #product_list {
      padding-top: 30px;      
      margin: auto;
      
  }
  #product_list ul {
      margin-bottom: 15px;  
      box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
 
  }
  #fiche_produit {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;      
      width: 180px;
      height: 40px;
      margin-top: 20px;
      
  }
  
/* Product Card */
  .card {
    margin-top: 30px;
   padding-top: 20px;
  

    border:1px solid #c9d0d878;    
  }
  #product_card {
    margin: auto;
 
  }
  .card-body ul li {
    line-height:1.8;
    font-size:14px;
  }
  #product_img {
    width: 70%;
  }
  #product_name {
    text-align: center;
  }
  #cart_button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;      
    width: 180px;
    height: 40px;
   
  }
  .price span{
    font-size: 1.4em;
  }
  
  #product_price {
   margin-left: 1em;;
  }
 .quantity-box, .lenses-box {
   margin-top: 10px;
 }
  .item-quantity {
   margin-right: 20px;
   margin-top: 5px;
  }

  /* Panier */
  .order-box {
    margin: auto;
  }
  
  .fa-shopping-cart {
    margin-left: 5px;
  }
  .bloc-quantity {
    margin-top: 20px;
    margin-left: -20px;
  }
.cart span {
  margin-left: 10px;
}
.item-amount {
  margin-left: 25px;
}
.total_price {
  margin-left: 30px;
}
  /* Order */
  .order-message {
    margin-top: 200px;
  }